{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}Create Publication{% endblock title %}

{% block content %}




<span id="custom_img_cke" class="cke_toolbar cke_toolbar_last" role="toolbar" style="display:none">
<span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation">
<label style="margin:20%;cursor:pointer;" id="cke_c" class="cke_button cke_button__image cke_button_off" href="javascript:void('Image')" title="Image"
tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_c_label" aria-describedby="cke_c_description" aria-haspopup="false" aria-disabled="false">
<input type="file" accept="image/jpeg,image/png" onchange="load_image_in_cke(this)" style="display: none; background-color: rgb(235, 235, 235);">
<span class="cke_button_icon cke_button__image_icon"
style="background-image:url('/static/ckeditor/ckeditor/plugins/icons.png?t=JB9C');
background-position:0 -960px;background-size:auto;">&nbsp;</span>
<span id="cke_c_label" class="cke_button_label cke_button__image_label" aria-hidden="false">Image</span><span id="cke_c_description" class="cke_button_label" aria-hidden="false"></span></label></span><span class="cke_toolbar_end"></span></span>


<div class="container py-5">
    <h1>{% translate "Create publication" %}</h1>
    <form method="post">
        {% csrf_token %}
        {% if message %}
        <div class="alert alert-block alert-danger">
            <ul class="m-0">
                <li>{{ message }}</li>
            </ul>
        </div>
        {% endif %}
        {{ form.media }}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% translate "Create" %}</button>

    </form>
</div>


{% endblock content %}

