{% extends 'base.html' %}

{% block title %}Homepage | Bro!, Sis!{% endblock title %}

{% block content %}
{% load static %}
{% load i18n %}


<a href="{% url 'home' '-published' %}"><button type="button" class="btn btn-light">{% translate "New publications" %}</button></a>
<a href="{% url 'home' '-liked' %}"><button type="button" class="btn btn-light">{% translate "Most liked publications" %}</button></a>
<div>
<div class="categories d-flex">
    <p>{% translate "Categories" %}</p>
    {% for group in groups %}
    <div class="cat-item">
        <a href="{% url 'group' group.slug %}"><button type="button" class="btn btn-info">{{ group.name }}</button></a>
    </div>

    {% endfor %}
</div>
</div>
{% include 'includes/publication_list.html' %}

{% endblock content %}