{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ publication.title }}{% endblock title %}

{% block content %}

<div class="w-75">
    <div>
        <h1>{{ publication.title }}</h1>
    </div>
    <p class="mb-1">{{ publication.content|safe }}</p>
    <small class="text-muted">{{ publication.published }}</small>
    {% if user == publication.author or user.is_superuser %}
    <a href="{% url 'edit' publication.id %}">Change</a>
    {% endif %}
</div>
{% if user != publication.author %}<a href="{% url 'like' publication.slug %}">{% endif %}{{ publication.liked }}</a>
<small>{{ publication.rating }}</small>
{% if user.is_authenticated %}
<div class="comments">
    {% for comment in comments %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ comment.user.username }}: </h5>
                <small>{{ comment.published }}</small>
            </div>
            <p class="mb-1">{{ comment.comment|safe }}</p>
        </a>
    </div>
    {% endfor %}
</div>

{% if publication.author != user %}
<form method="post">
    {% csrf_token %}
    {{ rate_form|crispy }}
    <button class="btn btn-primary" type="submit">Rate!</button>
</form>
{% endif %}
<form method="post">

    {% csrf_token %}
    {{ comment_form.media }}
    {{ comment_form|crispy }}
    <button class="btn btn-primary" type="submit">Send</button>
</form>
{% endif %}

{% endblock content %}