{% extends 'base.html' %}


{% block content %}
{% load i18n %}

{% if user.is_superuser %}

<div class="tag_page">
    <h1 class="tag_title">{% translate "Users" %}</h1>
    <p class="tag_text">{% translate "You can see a list of users of this site" %}</p>
    {% for user_i in users %}
    <div class="border-bottom">
        <div class="tag_container">
            <ul>
                <li><a href="{% url 'admin_profile_access' user_i.id %}">{{ user_i.username }}</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>


{% endif %}
{% endblock content %}