{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign In | Bro, Sis!{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1>{% translate "Sign Up" %}</h1>
    <form method="post">
        {% csrf_token %}
        {% if message %}
        <div class="alert alert-block alert-danger">
            <ul class="m-0">
                <li>{{ message }}</li>
            </ul>
        </div>
        {% endif %}
        {{ registration_form|crispy }}
        <button class="btn btn-primary" type="submit">{% translate "Sign Up" %}</button>

    </form>
</div>
{% endblock content %}

