
{% block content %}

<div class="list-group w-75">
    {% for publication in publications %}
    <div class="list-group-item list-group-item-action">

        <div class="d-flex w-100 justify-content-between">
            <a href="{% url 'publication' publication.slug %}" style="text-decoration:none">
                <h5 class="mb-1" style="color: black">{{ publication.title }}</h5>
            </a>
            <small class="text-muted">{{ publication.published }}</small>
        </div>
        <div class="d-flex">
            <div>
                Likes: {{ publication.liked }}
            </div>
            <div class="tagcloud">
                <ul>
                {% for tag in publication.tags.all %}
                    <li><a href="{% url 'tag_search' tag.slug %}">{{ tag.tag_name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div>
                Rating: {{ publication.rating }}
            </div>
        </div>


    </div>
    {% endfor %}
</div>

{% endblock content %}